{#
/**
 * @file sendgrid_campaign.html.twig
 * Default theme implementation to present Sendgrid campaign data.
 *
 * This template is used when viewing Sendgrid campaign pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_sendgrid_campaign()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('sendgrid_campaign') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
